@font-face {
    font-family: "Roboto Mono";
    src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}


body {
    margin: 0;
    padding: 0;
    background-color: #f9f9e8;
    color: #1e3a8a;
    font-family: "Roboto Mono";
    text-shadow: 0 0 2px #80808051;
}

#main {
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

#nav {
border-bottom: 2px dotted #1e3a8a;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.search-list {
	display: flex;
	flex-direction: column;
}

.search-item {
	display: flex;
	gap: 0;
	flex-direction: column;
}

.search-item > * {
	margin: 0;
}

details {
	padding: 2rem 0;
}

summary {
	cursor: pointer;
	user-select: none;
}

pre {
	background: rgba(0,0,0,0.05);
	width: 100%;
	padding: 1em;
	border-radius: 5px;
	text-wrap: auto;
}

h1 {
    font-weight: 800;
    font-size: 48px;
}

button {
	font-family: 'Roboto Mono';
	background: #1e3a8a;
	border: 1px solid #1e3a8a;
	color: white;
	padding: 0.5rem 0.5rem;
	border-radius: 0.25rem;
	width: fit-content;
	box-shadow: #1e3a8a8f 0 5px;
	transition: 0.05s linear;

	display: flex;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
}

button:active {
	box-shadow: #1e3a8a8f 0 0px;
}

button > img {
	color: white;
	width: 1.25rem;
}

button:disabled {
	filter: grayscale(50%);
	border: 1px solid gray;
}

.form-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}

@media only screen and (min-width: 600px) {
	#main {
		margin-top: 10vh;
		margin-left: auto;
		margin-right: auto;
		width: 60vw;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		gap: 0.5rem;
	}
}

.form > input, button {
	position: relative;
}

input[type="text"] {
	width: 100%;
	padding: 1rem;
	background: white;
	border: 1px solid grey;
	border-radius: 0.25rem;

	box-shadow: 0 0 3px gray;

	color: #333;
	font-family: 'Roboto Mono';
	font-weight: 600;
}

input[type="text"][data-error="error"] {
	border: 1px solid #cc0000;
	box-shadow: 0 0 3px #990000;
	animation-name: shake;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
}

input[type="text"]::placeholder {
	color: #999;
	font-weight: 600;
}

@keyframes shake {
	0% {
		left: 0;
	}

	25% {
		left: -1rem;
	}

	50% {
		left: 1rem;
	}

	100% {
		left: 0;
	}
}

p {
    font-size: 16px;
}

hr {
    border-top: solid 2px;
	margin: 2rem 0;
	width: 100%;
}

a {
    color: #930072;
    font-weight: 700;
    text-decoration: underline dotted;
}
